@font-face {
  font-family: "Assassin";
  src: url("../fonts/Assassin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.woff') format('woff'), 
  url('../fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), 
  url('../fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.absolute {
  position: absolute;
}

.assassin {
  font-family: 'Assassin';
}

.bottom-right {
  top: 45px;
  right: 16px;
}

.claim {
  font-family: 'Assassin';
  font-size: 24px;
  color: black;
  text-transform: lowercase;
  line-height: 80%;
}

#combat {
  background: none;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.fighter {
  height: 50px;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-right: 10px;
  margin-left: 10px;
}

.fighter span {
  position: absolute;
  top: 18px;
}

.fighter h5 {
  position: absolute;
  top: 18px;
  left: 40px;
}

.fighter .health {
  position: absolute;
  top: 18px;
  right: 100px;
}

.fighter .initiative {
  position: absolute;
  top: 18px;
  right: 25px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-30 {
  font-size: 24px;
}

.font-black {
  color: black;
}

.font-white {
  color: white;
}

.health{
  color: white;
}

.left{
  float: left;
}

.lowercase {
  text-transform: lowercase;
}

.menu {
  font-size: 22px;
  line-height: 80%;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.top-right {
  top: 16px;
  right: 16px
}

.uppercase
{
  text-transform: uppercase;
}

.img-circle {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.img-circle img {
  position: absolute;
  left: 50%;
  top: 75%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.img-circle img.portrait {
  width: 100%;
  height: auto;
}

.background {
  background-image: url(../img/parch.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}

.brand-heading,
.intro-text,
.intro .btn,
.navbar-custom {
  font-family: 'Assassin';
}

.brand-heading {
  text-transform: uppercase;
}

html {
  position: relative;
  min-height: 100%;
}

body{
  background-image: url(../img/parch.jpg);
  background-repeat: repeat-y;
  color: white;
  margin-bottom: 60px;
}

.room {
  width: 100%;
  min-height: 750px;
  padding: 250px 0;
  background: url(../img/room-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro {
  width: 100%;
  min-height: 500px;
  padding: 150px 0;
  text-align: center;
  color: white;
  background: url(../img/intro-bg-1.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .brand-heading{
  font-size: 50px;
  margin-top: 0px;
}

.intro .intro-text{
  font-size: 25px;
  text-transform: lowercase;
  line-height: 80%;
  text-shadow: 0.25px 0.25px white;
}

.intro .btn{
  outline: none;
  color:white;
  font-size: 22px;
  line-height: 60%;
}

.btn-primary {
  color: white;
  border: 1px solid firebrick;
  background-color:firebrick;
}

.btn-primary:hover {
  background-color: darkred;
}

.btn-success {
  color: white;
  border: 1px solid green;
  background-color:green;
}

.btn-success:hover {
  background-color: darkgreen;
}

.pages {
  display: table;
  width: 100%;
  min-height: 750px;
  padding: 100px 0;
  color: black;
  background-color: black;
}

h1,
p{
  color: white;
}

.navbar-custom {
  color: white;
  background-color:black;
  font-size: 24px;
  font-stretch: 1px;
}

.navbar-custom .navbar-toggle {
  color: white;
  background-color:black;
  font-size: 12px;
}

.navbar-custom .navbar-toggle:hover {
  background-color:dimgrey;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a{
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.footer a:hover {
  color: #db2727;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active, {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: black;
}

.avatar{
  position: relative;
  float: left;
  color: white;
  width: 250px;
  height: 330px;
  background: url(../img/avatar.jpg) no-repeat top center scroll;
  background-size: 250px 330px;
}

.avatar h4, h5, h6{
  margin-top: 0px;
  margin-bottom: 0px;
}

.avatar h4{
  float: left;
}

.avatar h5{
  position: absolute;
  bottom: 0;
  right: 2px;
}

.avatar h6 {
  top: 0;
  float: right;
}

.panel-heading {
  font-weight: bold;
}

.panel-body p{
  color: black;
}

.border{
  border: 7.5px solid;
  -webkit-border-image: url(../img/border.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../img/border.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../img/border.png) 30 round;
}

.panel-inform {
  float: left;
  width: 375px;
  margin-left: 50px;
}

.parch{
  background: url(../img/parchment.jpg) no-repeat top center scroll;
  background-size: 500px 500px;
}

.clearfix{
  clear: both;
}

.frame-square {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 50%;
}
  
.crop img {
  display: block;
  min-width: 50%;
  min-height: 150%;
  margin: auto;
  position: absolute;
  top: -50%;
  right: -100%;
  bottom: -100%;
  left: -100%;
}

.health{
  color: white;
}

@media only screen and (max-width : 540px) {
  .chat-popup {
    display: none !important;
  }
}
            
.popup-box {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 220px;
  height: 285px;
  background: url(../img/parchment.jpg);
  background-color: rgb(237, 239, 244);
  width: 300px;
  border: 5px solid;
  -webkit-border-image: url(../img/border.png) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../img/border.png) 30 round; /* Opera 11-12.1 */
  border-image: url(../img/border.png) 30 round;
}
            
.popup-box .popup-head {
  background-color: #6d84b4;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  clear: both;
  background: url(../img/wood.jpg);
}
            
.popup-box .popup-head .popup-head-left {
  float: left;
}
            
.popup-box .popup-head .popup-head-right {
  float: right;
  opacity: 0.5;
}
            
.popup-box .popup-head .popup-head-right a {
  text-decoration: none;
  color: inherit;
}
            
.popup-box .popup-messages {
  height: 100%;
  overflow-y: scroll;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
}

.footer a{
  text-decoration: none;
}

.container .text-muted {
  margin: 20px 0;
  font-size: 12px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.dropdown-menu, 
.dropdown-menu .divider,
.dropdown-toggle {
  background-color: black !important;
}

.dropdown-menu > li > a {
  background-color: black;
  color: white;
}

.dropdown-menu > li > a:hover {
  background-color: black;
  color: firebrick;
}

.card, .card-info-1,
.card-info-2, .card-info-3,
.card-info-4 {
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card {
  position: relative;
}

.card:hover  {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .container {
  padding: 2px 16px;
  width: 100%;
}

.card img {
  border-radius: 5px 5px 0 0;
}

.card a{
  color: black;
  text-decoration: none;
}

.card a:hover {
  color: firebrick;
}

.card .panel {
  margin-left: 15px;
}

#list ul li:hover, #list ul li:focus {
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -o-transform: scale(1.025);
  -moz-transition:-moz-transform 15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  position:relative;
}

#add_new {
  color: white;
  font-size: 20px;
  line-height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
}

#go_back {
  color: white;
  font-size: 9px;
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 15px;
  display: none;
}

#note a {
  color: white;
}


#notep ul{
  list-style: none;
}

.sidenav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 20px;
}

.sidenav a {
  padding-left: 10px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: firebrick;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}